.card {
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  //perspective have to have large value
  perspective: 1500rem;
  position: relative;
  height: 50rem;

  &__side {
    background-color: orange;
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background-color: green;
    }

    &--back {
      background-color: red;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
