*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /* better practice with the inherit value in the general selector */
  box-sizing: border-box;
}
